@using EntitiyLayer.Concrete;
@model List<Contact>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table">
    <tr>
        <th>Müşteri ID</th>
        <th>Müşteri Adı</th>
        <th>Müşteri Soyadı</th>
        <th>Mail</th>
        <th>Telefon</th>
        <th>Mesaj</th>
    </tr>
    @foreach(var item in Model)
     {
        <tr>
            <td>@item.customerId</td>
            <td>@item.customerName</td>
            <td>@item.customerLastName</td>
            <td>@item.customerMail</td>
            <td>@item.customerPhoneNumber</td>
            <td>@item.customerMessage</td>
            <td>
                <a class="btn btn-outline-danger" href="#">SİL</a>
                <a class="btn btn-outline-primary" href="#">GÜNCELLE</a>
            </td>
        </tr>
     }
    </table>
<a href="~/Contact/Yeniİletisim" class="btn btn-success">YENİ İLETİŞİM EKLE</a>

